# Project WebScrubbing and EDA analysis
    Topic : New vacancies in Naukri.com based on the Data Keyword.

#AI
# In the project, I wanted to know, if the user will type *Data on the keyword on Naukri then how many jobs will display for the people.

The project focus on the Naukri Web Notification, which notification display by the outside companies recruiters and using web scrapping I am collecting all data which are related to the Job content, Payable amount, Experience etc..
With the help of Python pandas & Numpy concept, we will create the DataFrame  and save in the form of Excel. Then we will apply some Data cleansing, Engineering Featuring concept and EDA analysis.
Aim: my aim to write this code, because, I want to know which city hiring the maximum count of people for which profile with key skill.

# Python libraries used:
    1. requests: This is used to extract the HTML code from the given URL.
    2. BeautifulSoup: This is used to format and read the HTML content.
    3. re (Regular Expression)
    4. Numpy, Pandas, matplotlib, Seaborn etc...(With the help of we will create the Clean dataFrame and Analyse like Descriptive and Daignostic Analysis)

# Import all relavent libraries

In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import seaborn as sns
import re
import requests
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\rohit\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

# Web scraping
    Content : Web scraping, web harvesting, or web data extraction is data scraping used for extracting data from websites.

In [3]:
j = []
c = []
Ex = []
Rupees =[]
Location =[]
Jt =[]
LS= []
for i in range(1,12):
    URL = "https://www.naukri.com/data-jobs-"+str(i)+"?k=data"
    soup = BeautifulSoup(driver.page_source,'html5lib')
    #job Title
    jobtitle= soup.find_all('article',attrs={'class':'jobTuple bgWhite br4 mb-8'})
    for jb in jobtitle:
        j.append(jb.find('a',attrs={'class':'title fw500 ellipsis'}).text)
    #comapny
    company = soup.find_all('div',{'class':'mt-7 companyInfo subheading lh16'})
    for cm in company:
        c.append((cm.find('a',attrs={'class':'subTitle ellipsis fleft'}).text))
    #Exprience
    ex = soup.find_all('ul',{'class':'mt-7'})
    for e in ex:
        Ex.append(e.find('span',attrs={'class':'ellipsis fleft fs12 lh16'}).text)
    #JOB tile
    jb = soup.find_all('ul',{'class':'tags has-description'})
    for e in jb:
        cl = e.find_all('li',{'fleft fs12 grey-text lh16 dot'})
        k1=[]
        for i in range(len(cl)):
            k1.append(cl[i].text)
        Jt.append(k1)
    #Rupees
    rs = soup.find_all('ul',{'class':'mt-7'})
    for e in rs:
        Rupees.append(e.find('li',attrs={'class':'fleft grey-text br2 placeHolderLi salary'}).text)
    #Location
    rs = soup.find_all('ul',{'class':'mt-7'})
    for e in rs:
        Location.append(e.find('li',attrs={'class':'fleft grey-text br2 placeHolderLi location'}).text)
for i in range(1,12):
    URL = "https://www.naukri.com/data-jobs-"+str(i)+"?k=data"
    soup = BeautifulSoup(driver.page_source,'html5lib')
    ##last update
    lsupdate = soup.find_all('article',attrs={'class':'jobTuple bgWhite br4 mb-8'})
    for i in lsupdate:
        ls = i.find_all('span',attrs={'class':'fleft fw500'})
        a =[]
        for j1 in range(len(ls)):
            a.append(ls[j1].text)
        LS.append(a)

# Create DataFrame
    All Web Screping Data stored in the Lists, code i have written in the last cell, and now we want to Analyse so we have to store these all list data in the DataFrame.

In [4]:
df = pd.DataFrame({"JobContent":j,"Comapny":c,"Exprience":Ex,"JobTitle":Jt,'Location':Location,"LastUpdate":LS,"Payment":Rupees})
df

Empty DataFrame
Columns: [JobContent, Comapny, Exprience, JobTitle, Location, LastUpdate, Payment]
Index: []

# DataFrame store in the CSV file

In [5]:
df.to_csv(r'D:\KAGGLE DATASETNaukriData.csv')

# Read Data from the CSV file

In [6]:
df = pd.read_csv(r'D:\KAGGLE DATASETNaukriData.csv')

# Top 5 row of the DataFrame

In [7]:
df.head()

Empty DataFrame
Columns: [Unnamed: 0, JobContent, Comapny, Exprience, JobTitle, Location, LastUpdate, Payment]
Index: []

# Last 5 row of the DataFrame

In [8]:
df.tail()

Empty DataFrame
Columns: [Unnamed: 0, JobContent, Comapny, Exprience, JobTitle, Location, LastUpdate, Payment]
Index: []

### DataFrame Read for complete understanding

In [9]:
print(len(df.JobContent),len(df.Comapny),len(df.Exprience),len(df.JobTitle),len(df.Location),len(df.LastUpdate),len(df.Payment))

0 0 0 0 0 0 0

In [10]:
#shape of the Data
df.shape

(0, 8)

In [11]:
#unique Columns in the DataFrame
df.columns

Index(['Unnamed: 0', 'JobContent', 'Comapny', 'Exprience', 'JobTitle',
       'Location', 'LastUpdate', 'Payment'],
      dtype='object')

In [12]:
#Remove Unwanted Column
df.drop('Unnamed: 0',axis=1,inplace=True)

In [13]:
df.describe(include='all')

       JobContent Comapny Exprience JobTitle Location LastUpdate Payment
count           0       0         0        0        0          0       0
unique          0       0         0        0        0          0       0
top           NaN     NaN       NaN      NaN      NaN        NaN     NaN
freq          NaN     NaN       NaN      NaN      NaN        NaN     NaN

In [14]:
#No null value found in the columns
df.isnull().sum()

JobContent    0.0
Comapny       0.0
Exprience     0.0
JobTitle      0.0
Location      0.0
LastUpdate    0.0
Payment       0.0
dtype: float64

In [15]:
df.dtypes

JobContent    object
Comapny       object
Exprience     object
JobTitle      object
Location      object
LastUpdate    object
Payment       object
dtype: object

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   JobContent  0 non-null      object
 1   Comapny     0 non-null      object
 2   Exprience   0 non-null      object
 3   JobTitle    0 non-null      object
 4   Location    0 non-null      object
 5   LastUpdate  0 non-null      object
 6   Payment     0 non-null      object
dtypes: object(7)
memory usage: 0.0+ bytes

# Observation:
    There is no null value and all columns are objectionable data type (if necessary, we will change to engineering Featuring Concept)

# Data Munging & Engineering Featuring
    content: The next phase of a project involves a process called “data munging.” It is often the case where the data imported into the
                Python environment is inconvenient or incompatible with machine learning algorithms, so with data munging (also known as data transformation) the data can be massaged into a more hospitable form. Data munging cannot be taken lightly as many times it can consume up to 80% of the entire machine learning project. The amount of time needed for a particular project depends on the health of the data: how clean, how complete, how many missing elements, etc.

# Step 1st:
    data cleaning and Observations

#### Extract from the JobContent column actual job Name or role

In [17]:
#First column : JobContent
df['JobName'] = df['JobContent'].apply(lambda x:re.compile('\w+\s\w+').search(x).group())

In [18]:
df.JobName.unique()

array([], dtype=object)

In [19]:
df.JobName.value_counts()

Series([], Name: JobName, dtype: int64)

In [20]:
#Categorical Data - means, data should be store in the *Object* form.
df.JobName.dtypes

dtype('O')

# Observation:
    Accoring to these Job Name Column, we are getting the valuable data means when persons will type the Keyword on the Naukri the they wilt get the Maximun Percentage of the job in ***Data Entry

In [21]:
#### Second Column : Comapny
df.Comapny.value_counts()

Series([], Name: Comapny, dtype: int64)

# Observation:
    With this data we are getting the best results, the company Randstad is hiring a lot of people

In [22]:
#Same in the form Percentages
df.Comapny.value_counts(normalize=True)

Series([], Name: Comapny, dtype: float64)

# Observation:
    10% of the company not showing the company name, maybe it is a fake vacancies on the Naukri web.

In [23]:
#3rd Column : Exprience
df.Exprience.head()

Series([], Name: Exprience, dtype: object)

In [24]:
#Neumerical Data - means, data should be store in the *int* form.
df.Exprience.dtypes

#change *object to *int

dtype('O')

# Observation:
    In the Experience column, the values ​​are as Maximum and Minimum Experience. We will not be able to do any aggregation in a single column. So now we have to separate each other into 2 different columns like MinYear and MaxYear.

In [25]:
# Replace Yrs
df['Exprience'] = df.Exprience.str.replace('[a-zA-Z]','')

<ipython-input-25-347833df9dba>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Exprience'] = df.Exprience.str.replace('[a-zA-Z]','')

In [26]:
#Create New columns in the same DataFrame
df['MinExpriece']= df.Exprience.str[0]
df['MaxExpriece'] = df.Exprience.str[2]

In [27]:
df[['MinExpriece','MaxExpriece']].head(5)

Empty DataFrame
Columns: [MinExpriece, MaxExpriece]
Index: []

In [28]:
df[['MinExpriece','MaxExpriece']].dtypes

MinExpriece    object
MaxExpriece    object
dtype: object

In [29]:
#we need to change with *object to *int.
df.MinExpriece=df.MinExpriece.astype('int')
df.MaxExpriece=df.MaxExpriece.astype('int')

In [30]:
#changed types of the columns
print(df.MinExpriece.dtypes,df.MaxExpriece.dtypes)

int32 int32

In [31]:
df.MinExpriece.value_counts()

Series([], Name: MinExpriece, dtype: int64)

In [32]:
#value count in the Percentage
df.MaxExpriece.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'

Series([], Name: MaxExpriece, dtype: object)

In [33]:
df.drop('Exprience',axis=1,inplace=True)

# Observation:
    35% of companies hire the Pepole, they should have 3 Year of Exprience and 30% of companies hire people should have a 1 year exprience.

In [38]:
#Third column : JobTitle
df[['JobSkill0','JobSkill1','JobSkill2','JobSkill3','JobSkill4','JobSkill5','JobSkill6','JobSkill7']] = df.JobTitle.str.split('',expand=True)

ValueError: Columns must be same length as key

In [37]:
df[['JobSkill0','JobSkill1','JobSkill2','JobSkill3','JobSkill4','JobSkill5','JobSkill6','JobSkill7']].head(2)

KeyError: "None of [Index(['JobSkill0', 'JobSkill1', 'JobSkill2', 'JobSkill3', 'JobSkill4',\n       'JobSkill5', 'JobSkill6', 'JobSkill7'],\n      dtype='object')] are in the [columns]"

In [ ]:
for i in range(8):
    df['JobSkill'+str(i)+'']= df['JobSkill'+str(i)+''].str.replace("[","")
    df['JobSkill'+str(i)+'']= df['JobSkill'+str(i)+''].str.replace("]","")
    df['JobSkill'+str(i)+'']= df['JobSkill'+str(i)+''].str.replace("'","")

In [ ]:
df[['JobSkill0','JobSkill1','JobSkill2','JobSkill3','JobSkill4','JobSkill5','JobSkill6','JobSkill7']].head(2)

In [ ]:
#Forth Column : Location
df[['Location0','Location1','Location2','Location3','Location4','Location5']] = df.Location.str.split(',',expand=True)

In [ ]:
df[['Location0','Location1','Location2','Location3','Location4','Location5']]

In [ ]:
df['Location0'].value_counts()

In [ ]:
df['Location1'].value_counts()

In [ ]:
df['Location2'].value_counts()

In [ ]:
df['Location3'].value_counts()

In [ ]:
df['Location4'].value_counts()

In [ ]:
df['Location5'].value_counts()

In [ ]:
df.drop('Location',axis=1,inplace=True)

In [ ]:
#df['Location0'] = df['Location0'].apply(lambda x:re.compile('\(\w+').search(x))

In [ ]:
df.drop('JobTitle',axis=1,inplace=True)

In [ ]:
df.head(3)

In [ ]:
#Forth Column
df['LastUpdate']

In [ ]:
df['LastUpdate'] = df['LastUpdate'].str.split(',',expand=True)[0]

In [ ]:
df['LastUpdate']=df['LastUpdate'].str.replace("[","")
df['LastUpdate']=df['LastUpdate'].str.replace("]","")
df['LastUpdate']=df['LastUpdate'].str.replace("'","")

In [ ]:
df['LastUpdate']

In [ ]:
df['LastUpdate'].value_counts()

In [ ]:
df.head()

In [ ]:
#Fifth Column : Payment
df['Payment']

In [ ]:
df['Payment'] = df.Payment.str.replace('PA.','')
df['Payment'] = df.Payment.str.replace('.','')

In [ ]:
df.Payment.value_counts()

In [ ]:
df['Payment']=df['Payment'].replace("Not disclosed","0-0")

In [ ]:
df[['MinPay','MaxPay']]=df['Payment'].str.split('-',expand=True)

In [ ]:
df.drop('Payment',axis=1,inplace=True)

In [ ]:
df[['MinPay','MaxPay']].head()

In [ ]:
df['MinPay']=df['MinPay'].str.replace(",","")
df['MaxPay']=df['MaxPay'].str.replace(",","")

In [ ]:
df[['MinPay','MaxPay']].head()

In [ ]:
df[['MinPay','MaxPay']]=df[['MinPay','MaxPay']].astype('int')

In [ ]:
df[['MinPay','MaxPay']].dtypes

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
Data = df[['JobName','JobContent','Comapny','LastUpdate','MinExpriece','MaxExpriece','MinPay','MaxPay','JobSkill0','JobSkill1','JobSkill2','JobSkill3','JobSkill4','JobSkill5','JobSkill6','JobSkill7','Location0','Location1','Location2','Location3','Location4']]

In [ ]:
Data.head()

In [ ]:
Data.rename(columns={'MinExpriece':'MinExprience','MaxExpriece':'MaxExprience','Comapny':'company'},inplace=True)

In [ ]:
Data.shape

In [ ]:
#Final DataFrame Shape and Now, i will work on it, for all Visual Analysis.
df.to_csv(r'C:\Users\RAJAT SAHU\Data_Science\ProjectData.csv')

# Exploratory Data Analysis
    Content: Exploratory Data Analysis, or EDA, is essentially a type of storytelling for statisticians. It allows us to uncover patterns and insights, often with visual methods, within data. EDA is often the first step of the data modelling process.

In [ ]:
Data1 = pd.read_csv(r'C:\Users\RAJAT SAHU\Data_Science\ProjectData.csv')
Data1.head(5)

In [ ]:
pd.set_option("display.max_columns",None)
Data1.head()

In [ ]:
#Unique column in the data Frames and one is unwanted column which i have to delete : ***Unnamed: 0
Data1.columns

In [ ]:
#Delete unwanted column
Data1.drop('Unnamed: 0',axis=1,inplace=True)

In [ ]:
#final unique columns in DataFrames
Data1.columns

In [ ]:
#Rename the DataFrame columns
Data1.rename(columns={'MinExpriece':'MinExprience','MaxExpriece':'MaxExprience','Comapny':'company'},inplace=True)

In [ ]:
# Arrange column location.
Data1 = Data1[['JobName','JobContent','company','LastUpdate','MinExprience','MaxExprience','MinPay','MaxPay','JobSkill0','JobSkill1','JobSkill2','JobSkill3','JobSkill4','JobSkill5','JobSkill6','JobSkill7','Location0','Location1','Location2','Location3','Location4']]

In [ ]:
#final DataFrame with complete cleansing and Engineering Featuring concept.
Data1.head()

In [ ]:
#Number of jobs count in the DataFrames
Data1.JobName.value_counts()

In [ ]:
#Same result, we are plotting in the Bar plot using Seaborn concept
plt.figure(figsize=(10,5))
sns.countplot(Data1.JobName)
plt.xticks(rotation=90)
plt.title('Number of vacencies on Naukri related to the JobName')
plt.show()

# Observation:
    when i was collected from the Naukri Web: Max company hire for the Data Engineer, Data Entry and for other job smae status was similar.

In [ ]:
#plot graph between the count of the MinExp and MaxExp.
plt.figure(figsize=(15,5))
plt.subplot(121)
sns.countplot(Data1.MinExprience)
plt.title("Count of Minimum Year of Expriecnce")
plt.subplot(122)
sns.countplot(Data1.MaxExprience)
plt.title("Count of Maximum Year of Exprience")
plt.show()

# Observation:
    According to the data, which was collected before me last 4-5 days, at that time the maximum company underperformed the persons with 0-3 years of experience and 0-2 years of experience.
    Data Entry : 66
    Data Engineer : 33
    Computer Data : 22

In [ ]:
#Pivot table : MaxExp and MinExp Count 
pd.pivot_table(data=Data1,index=['JobName'],aggfunc={'MinExprience':np.count_nonzero,'MaxExprience':np.count_nonzero})

In [ ]:
plt.figure(figsize=(15,5))
sns.countplot(data= Data1,x='MaxExprience',hue='JobName')
plt.title('')
plt.show()

# Observation:
    1 Year Exprience : Max number of vacancies in the NTT Data Job.
    2 Year Exprience : Number of Job type count are similar.
    3 Year Exprience : Max Number of vacancies notificaiton for the Data Engineer and Data Entry.
    4 Year Exprience : same as 3 Year Exprience, more Vacancies notification in the Data Entry.

In [ ]:
plt.figure(figsize=(15,5))
plt.subplot(121)
sns.lineplot(data=Data1,x='JobName',y='MaxExprience')
plt.xticks(rotation=90)
plt.title("Number of Jobs based on the Max Exprience")
plt.subplot(122)
sns.countplot(data=Data1,x='JobName',hue='MaxExprience')
plt.xticks(rotation=90)
plt.title("Count Jobs Notification on the Naukri")
plt.show()

# Observation:
    Note: Two Graph for understand different-2 secnerio
        1. Fig-1: For Data Entry, company want the higher exprience and Maximimum count of notification related the Data-Entry(Fig-2)
    .

In [ ]:
plt.figure(figsize=(15,5))
sns.countplot(data=Data1,x='company')
plt.xticks(rotation=90)
plt.show()

In [ ]:
Data1.head(2)

In [ ]:
plt.figure(figsize=(20,5))
plt.subplot(221)
sns.countplot(data=Data1,x='JobSkill0')
plt.title("x")
plt.xticks(rotation=90)
plt.subplot(222)
sns.scatterplot(data=Data1,x='company',y='JobSkill0')
plt.title("y")
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(15,5))
sns.countplot(data=Data1,x='LastUpdate')
plt.xticks(rotation=90)
plt.show()

In [ ]:
Data1.groupby(['company'])['LastUpdate'].count()

# Observation:
    Now we have got more valuable data, means most of the vacancies Notification on Naukri for this company *RANDSTAD INDIA PVT LTD.

In [ ]:
#summry structure between the company, jobName and MaxExprience
pv = pd.pivot_table(data=Data1,index=['company','JobName','MaxExprience'],aggfunc={'MinPay':np.mean,'MaxPay':np.mean})

In [ ]:
pv1=pv.sort_values(by=['MaxExprience','MaxPay','MinPay'],ascending=False)
pv1

In [ ]:
plt.figure(figsize=(20,10))
pv1.plot()
plt.xticks(rotation=90)
plt.show()

In [ ]:
pv1.head(5)

# Observation:
    top 5 Best Notification for all people but, people should have a minimun= 0 and Maximum5 year experience.
    1.when we will look into the Data Entry job, there is a lot of variation in the data and means is that if a person wants to get the higher package, then the person should have a max year of experience otherwise, the user has to join with less package.
    2.top 4th company, not displaying the Payable amount on the web, means Salary package totally depends on the Person Interview.
    3.For the Data scientist, only one company looking for a person should have 3 years of experience and the company will provide a 3.5L-4.5L annum.
        ***means, Naukri website shouldn't good for the data scientist job.

In [ ]:
plt.figure(figsize=(10,5))
sns.scatterplot(y=Data1['company'],x=Data1['JobSkill0'])
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(10,5))
sns.scatterplot(y=Data1['JobName'],x=Data1['JobSkill0'])
plt.xticks(rotation=90)
plt.show()

In [ ]:
Data1.head(2)

In [ ]:
#Remove inside the Bracket value.
Data1['Location0'] = Data1['Location0'].str.replace(r"\(.*\)","")

In [ ]:
plt.figure(figsize=(15,5))
plt.subplot(121)
sns.countplot(Data1.Location0)
plt.title("Notification for Job Approtunity city wise")
plt.xticks(rotation=90)
plt.subplot(122)
sns.countplot(Data1.Location1)
plt.title("Notification for Job Approtunity city wise")
plt.xticks(rotation=90)
plt.show()

# Observation:
        1.I found, then some similar city names but due to the position of some brackets it is appearing in another or different city so now I think we should remove them
        2.Max. count, Aprrox 40+ of vacancies in the Banglore & chennai and also second perferred location is Hyderabad. Means is that most of the vacancies in the South region with differnt-2 Job Name.

In [ ]:
Data1.head(2)

In [ ]:
sns.boxplot(data=Data1,x='MaxPay')
plt.show()

In [ ]:
sns.pairplot(Data1)
plt.show()

In [ ]:
Data1.corr()

In [ ]:
Data1.head()

In [ ]:
plt.figure(figsize=(20,10))
plt.subplot(421)
sns.scatterplot(data=Data1,x='company',y='JobSkill0',legend=False, sizes=(20, 2000))
plt.xticks(rotation=90)
plt.subplot(422)
sns.scatterplot(data=Data1,x='company',y='JobSkill1',legend=False, sizes=(20, 2000))
plt.xticks(rotation=90)
plt.subplot(423)
sns.scatterplot(data=Data1,x='company',y='JobSkill2',legend=False, sizes=(20, 2000))
plt.xticks(rotation=90)
plt.subplot(424)
sns.scatterplot(data=Data1,x='company',y='JobSkill3',legend=False, sizes=(20, 2000))
plt.xticks(rotation=90)
plt.subplot(425)
sns.scatterplot(data=Data1,x='company',y='JobSkill4',legend=False, sizes=(20, 2000))
plt.xticks(rotation=90)
plt.subplot(426)
sns.scatterplot(data=Data1,x='company',y='JobSkill5',legend=False, sizes=(20, 2000))
plt.xticks(rotation=90)
plt.subplot(427)
sns.scatterplot(data=Data1,x='company',y='JobSkill6',legend=False, sizes=(20, 2000))
plt.xticks(rotation=90)
plt.subplot(428)
sns.scatterplot(data=Data1,x='company',y='JobSkill7',legend=False, sizes=(20, 2000))
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(15,5))
sns.scatterplot(data=Data1,x='company',y='JobSkill7',legend=False, sizes=(20, 2000))
plt.xticks(rotation=90)
plt.show()

In [ ]:
print(Data1.Location0.isna().sum(),Data1.Location1.isna().sum(),Data1.Location2.isna().sum(),Data1.Location3.isna().sum(),Data1.Location4.isna().sum())

In [ ]:
for i in range(5):
    Data1['Location'+str(i)+''] = Data1['Location'+str(i)+''].fillna('0')

In [ ]:
print(Data1.Location0.isna().sum(),Data1.Location1.isna().sum(),Data1.Location2.isna().sum(),Data1.Location3.isna().sum(),Data1.Location4.isna().sum())

In [ ]:
plt.figure(figsize=(20,10))
plt.subplot(221)
sns.scatterplot(data=Data1,x='company',y='Location0',legend=False, sizes=(20, 2000))
plt.xticks(rotation=90)
plt.subplot(222)
sns.scatterplot(data=Data1,x='company',y='Location1',legend=False, sizes=(20, 2000))
plt.xticks(rotation=90)
plt.subplot(223)
sns.scatterplot(data=Data1,x='company',y='Location2',legend=False, sizes=(20, 2000))
plt.xticks(rotation=90)
plt.subplot(224)
sns.scatterplot(data=Data1,x='company',y='Location3',legend=False, sizes=(20, 2000))
plt.xticks(rotation=90)
plt.show()

# Overview

# Candidates type the ***Data Keyword.


Positive:
Find total 300 Raw Job Notification, but Maximum count of the job Notification related to the *Data Engineer & *Data Entry for South Region ( Hyderabad, Bangalore, Chennai etc.. ) 
Candidate should have a Max 3 year Experience and these all company hire the Fresher also.
All company mentioned in the job Notification 0-X payable amount (Annum). I think, directly, Company want to tell your job interview will decide how much we will provide the salary per annum.

Negative:
For the Data Entry : Company provide the 0- 7 Lakh package but person should have a 3 Year experience. But for the Data  Scientist 2 Year experience and they will provide 3.5-4.5 Lakh only. 
	*** We have to think about it ... is it real or fake.